@model Category
@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Category</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="text-danger" asp-validation-summary=ModelOnly></div>
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input class="form-control" placeholder="Name" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    @if (!Model.IsMain)
                    {
                        <div class="form-group" id="parentCategoryDiv">
                            <label asp-for="Parent">Parent</label>
                            <select class="form-control" name="parentId">
                                <option value="0">--Select Category--</option>
                                @foreach (var item in ViewBag.ParentCategories)
                                {
                                    @if(item.Id == Model.ParentId)
                                    {
                                        <option selected value="@item.Id">@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    }
                    else
                    {
                        <div class="form-group" id="photoDiv">
                            <label asp-for="Photo">Photo</label>
                            <input class="form-control" placeholder="Photo" asp-for="Photo" accept="image/*">
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>
                    }
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a class="btn btn-light" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationPartial" />

<script>

    $("#IsMain").prop("checked", false);
    $(document).on('change', "#IsMain", function() {
        if ($(this).is(":checked")){
            $("#photoDiv").removeClass("d-none");
            $("#parentCategoryDiv").addClass("d-none");
        } else {
            $("#photoDiv").addClass("d-none");
            $("#parentCategoryDiv").removeClass("d-none");
        }
    });

</script>
}